<h2>Edit <%= @animal.name %></h2>
<form method="POST" action="/animals/<%= @animal.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @animal.name%>"/>
    </div>

    <div class="form-el">
      <label for="species">Species:</label>
      <input type="text" name="species" id="species" value="<%= @animal.species %>"/>
    </div>

    <div class="form-el">
      <label for="adoptable_select">Select whether animal is adoptable:</label>
      <select name="adoptable" id="adoptable_select">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
      </select>
    </div>

    <div class="form-el">
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" value="<%= @animal.age.to_i %>"/>
    </div>

    <div class="form-el">
      <label for="admission_date">Admission date:</label>
      <input type="text" name="admission_date" id="admission_date" value="<%= @animal.admission_date %>"/>
    </div>

    <div class="btn">
      <input type="submit" value="Update Animal"/>
    </div>

  </div>
</form>
