<h1><%= @animal.name %> (animal)</h1>

<p>Species: <%= @animal.species %></p>

<h3>Owned by:</h3>


<a href="/animals/<%= @animal.id %>/edit">Edit</a>
<a href="/animals/<%= @animal.id %>/adopt">Assign animal to a new owner</a>
<form action="/animals/<%= @animal.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
